* {
  box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: 'Poppins';
}

.top-container{
  background: linear-gradient(to bottom, #003c75, #76b8f5);
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header{
    text-align: left;
    line-height: 0.75;
    padding: 5px;
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.topnav {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  margin-bottom: 1em;
}
  
.topnav a {
  float: left;
  display: block;
  color: rgb(55, 55, 55);
  text-align: center;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

.topnav a:hover {
    color: #f2f2f2;
    background-color: #598ec0;
}

.topnav .active{
    color: #ffffff;
    background-color: #10406dd9;
}

.content{
  min-width: 70%;
}

.footer a:active, .footer a{
  color:rgb(0, 0, 0);
  font-size: 18px;
}

.footer a:visited{
  color:#46a4fc;
}

.footer a:hover{
  color:#2069ae;
}

.footer, .footer a{
  background-color: #c6ddf3;
  font-family: 'Poppins';
  font-size: 16px;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#bg1{
  max-height: 550px;
  width: auto;
  display: block;
  height:auto;
  margin: 2.5em auto;
  margin-top: 30px;
}

h1{
  font-size: 2rem;
}

h2{
  text-align: center;
  margin-top: 3em;
}

h3{
  color: #0036a2;
}

.cards-member{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.card a{
  text-decoration: none;
  color: black;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  min-height: 250px;
}

.container{
  position: relative;
  max-width: 600px;
  margin: auto;
}

.final-container{
  background-color: white;
  text-align: center;
  padding: 15px;
  padding-top: 0;
  margin-bottom: 5.5em;
  opacity: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.cover button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cover button:hover {
  background-color: lightgray;
}

.final-container img {
  width: 80%;
}

.final-container h3{
  color: rgb(175, 0, 0);
  font-size: 2rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


@media screen and (max-width: 610px) {
  .topnav .nav-container{
      display: block;
  }
  .topnav a{
    display: block;
    float: left;
    width: 100%
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


@media (max-width: 800px) {
  #bg1{
    width: 95vw;
    display: block;
    height:auto;
    margin: 2.5em 10px;
    margin-top: 30px;
  }
}
